{% extends 'add-layout.twig' %}
{% block maincontent%}

{% endblock %}

{% block dxcolumntop %}
        <a href="/user/{{ Userlog }}"><h4><img class="img-user" src="/images/user-2-icon.png">Ben tornato {{ Userlog }}</h4></a>
{% endblock %}
