{% extends 'layout-back.twig' %}


{% block maincontent%}
    {% if okadd %}
        <h4 style="color: red;">Video {{ title }} aggiunto con successo</h4>
    {% endif %}
    {% if Errorvideoesiste != null %}
        <h4 style="color: red;">{{ Errorvideoesiste }}</h4>
    {% endif %}
    <div class="logblock">
        <form class="formlogin" name="first" action = "{{ path_for('addvideo')}}" method = "GET">
            <label>Title:<br><input type="text" id="title" name="title" placeholder="Title"/> </label>
            <br>
            <label>Embed video code:<br><input type="text" name="embed" placeholder="Embed video code "/></label>
            <br>
            <label>Tag:<br><input name="tag" type="text" id="tag" placeholder="Tag for video"></label><br>
            <br>
            <input type="checkbox" name="protetto" value="si"/> Check if is a protect video<br/>
            <input type="checkbox" name="playlist" value="si"/> Check if is a playlist<br/><br/>
            <input type = "submit" value="Inserisci Video"/>
        </form>
    </div>
{% endblock %}

