{% extends 'layout-back.twig' %}

{% block maincontent %}

    {% block newsHome %}
        <div class="newshome">
        {% for x in 1..nfor %}
                    <div class="img-news2">
                        <img class="img-news" src="{{ imgnews ~ x }}">
                    </div>
                <div class="bodynews">
                    <h4>{{ titlenews ~ x | upper }}</h4>
                    <hr style="width: 100%;">
                    <p>{{ bodynews ~ x }}</p>
                </div>
        {% endfor %}
        </div>
    {% endblock %}

{% endblock %}