{% extends 'layout-back.twig' %}


{% block maincontent %}
    <div class="user">
    <div class="img-news2">
        <img class="img-news" src="/images/user-2-icon.png">
    </div>
        <div class="bodyuser">
            <p>{{ Userlog }}</p>
        </div>
    </div>
{% endblock %}