<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% if currentLocation == 'http://localhost:8080/' %}
        {% set pageTitle = 'CaliHomepage' %}
    {% endif %}
    <title>{{ pageTitle }}</title>
    <link href="/css/stile-backend.css" rel="stylesheet" type="text/css">
    {% block morehead %}
    {% endblock %}
</head>
<body>
<div class="sx-column-top">
    {% block sxcolumntop %}
    <embed name="banner" src="/images/MyBannerMaker_Banner.gif" quality="high" width="160" height="" >
    {% endblock %}
</div>
<div class="main-column-top">
    <div class="page-title">
        <h1>{{ PageTitle }}</h1>
    </div>
    {% block maincontenttop %}
    {% endblock %}
</div>
<div class="dx-column-top">
    {% block dxcolumntop %}
        <a href="/user/{{ Userlog }}"><h4><img class="img-user" src="/images/user-2-icon.png">Ben tornato {{ Userlog }}</h4></a>
    {% endblock %}
</div>

<div class="sx-column">
    {% block sxcolumn %}
        <a  href="/home"><div class="btn-left-side">Home</div></a>
        <a  href="/add/news"><div class="btn-left-side">New news</div></a>
        {% if(lv < 3) %}
            <a  href="/post"><div class="btn-left-side">View all Post</div></a>
            {% if(lv < 2 ) %}
                <a  href="/add/post"><div class="btn-left-side">New Post</div></a>
                {% if(lv < 1) %}
                    <a  href="/add/user"><div class="btn-left-side">New User</div></a>
                {% endif %}
            {% endif %}
        {% endif %}
    {% endblock %}
</div>
<div class="main-column">
    {% block maincontent %}
    {% endblock %}
</div>
<div class="dx-column">
    {% block dxcolumn %}
    <embed name="banner" src="/images/123-banner_com_sky224170.swf" quality="high" width="160" height="600" >
        {% endblock %}
</div>
</body>
</html>
