<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% if currentLocation == 'http://localhost:8080/' %}
    {% set pageTitle = 'CaliHomepage' %}
    {% endif %}
    <title>{{ pageTitle }}</title>
    <link href="/css/stile-backend.css" rel="stylesheet" type="text/css">
    {% block morehead %}
    {% endblock %}
</head>
<body>
    <div class="sx-column">
        {% block sxcolumn %}
        {% endblock %}
    </div>
    <div class="main-column">
        <div class="page-title">
            <h1>{{ PageTitle }}</h1>
        </div>
        {% block maincontent %}
        {% endblock %}
    </div>
    <div class="dx-column">
        {% block dxcolumn %}
        {% endblock %}
    </div>
</body>
</html>